# Node modules and package managers
node_modules
npm-debug.log*
yarn-error.log*
.pnpm-store
.yarn
.pnp.*

# Build output
.next
out
dist
coverage

# Logs
logs
*.log

# Editor and system files
.vscode
.idea
.DS_Store

# Environment and secrets
.env
.env.*
!.env.example

# Git and VCS
.git
.gitignore

# Other unnecessary files
*.swp
*.swo
